<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lo sentimos, página no encontrada 404</title>
</head>
<body>
	
	<!--NOTA: Por defecto sprigboot ya tiene una configuración para el manejo de errores como el 500, 404, etc
	          por lo tanto solo con crear el directorior llamado error (OJO: Importante que se llame de esa forma)
	          y dentro de dicho directorio agregar un html por ejemplo 404 (OJO: Es importante que cada archivo html
	          se llame como el error que prentende manejar) y de esta forma automáticamente cuando se detecte este tipo
	          de errores springboot va a mostrar la vista correspondiente -->
	
	<h3>Oops! página no encontrada</h3>
	
	<!--NOTA: Colocamos el más detallado del error usando objetos propios de springboot -->
	<div th:text="${error}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestamp}"></div>
	<hr>
	<!--NOTA: A diferencia de la página del error 500 acá el trace y message no aplican ya que no tienen información 
	          que mostrar pero a cambio de esto aparece uno nuevo que es el path -->
	<div th:text="${path}"></div>

</body>
</html>