<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- NOTA: Los cierres de etiquetas de parte del html son importantes ya que al usar thymeleaf y no tenemos esos
		   cierres de forma correcta, nos marcaría error. Adicionalmente el encoding del archivo debe ser el mismo
		   que por defecto es UTF-8 
-->
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	
	<h1 class="color-rojo" th:text="${titulo}"></h1>
	<h1 class="color-rojo" th:text="${tituloInyectado}"></h1>
	
	<h2 class="color-azul">Decorando con estilos css recursos estáticos</h2>
	
	<img th:src="@{/images/spring.jpg}"></img>

</body>
</html>