<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">
		
		<div class="card border-primary">
			<div class="card-header text-center" th:text="'Inicio De Sesión'" style="font-weight: bold; font-size: x-large;"></div>
			<div class="card-body">
				
				<form th:action="@{/login}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:for="username" th:text="'Usuario'"></label>
						<div class="col-sm-6">							
							<input class="form-control" name="username" id="username" type="text" placeholder="Usuario" required autofocus>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:for="password" th:text="'Contraseña'"></label>
						<div class="col-sm-6">							
							<input class="form-control" name="password" id="password" type="password" placeholder="Contraseña" required>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-8">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar Sesión">
						</div>
					</div>
					
					<!--Agregamos un input al cual le pasamos una variable global de spring security que nos ayuda con el csrf (Cross-Site Request Forgery) que 
					    es un tipo de protección que impide que un sitio web pudiera hacer peticiones maliciosas a otro sitio web que fuese seguro. Aunque esto
					    no es necesario ya que spring security lo hace de forma manual pero para fines demostrativos lo colocamos-->
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					
				</form>
				
			</div>
		</div>
		
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>