<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	
	<h2 th:text="${titulo}"></h2>
	
	<!--NOTA: El form tiene que tener un target, es decir, una ruta URL
	          a la cual vamos a enviar el formulario.
	         
	          Entonces para agregar el target se especifica con la etiqueta
	          action que es propia del formulario la cual en el controlador
	          indicamos que era la ruta /form y adicionalmente también le
	          indicamos el método ya que por defecto es get.
	-->
	<form th:action="@{/form}" method="post">
		
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" name="username" id="username">
			</div>
		</div>
		
		<div>
			<label for="pwd">Password</label>
			<div>
				<input type="password" name="pwd" id="pwd">
			</div>
		</div>
		
		<div>
			<label for="email">Email</label>
			<div>
				<input type="text" name="email" id="email">
			</div>
		</div>
		
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
		
	</form>

</body>
</html>