<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	
	<!--
		NOTA: 
		      * Cuando usamos el *{} es para mapear un campo del formulario ya se a para un atributo entity y en estos casos para el mensaje de error
		        del campo.
		      
		      * Mientras que el ${} es para una expresión con código Java, ya sea para una expresión con th:if, para una interpolación de String, para
		        mostrar datos, y en este caso para mapear el objeto usuario
		      
		      * Con el @{} son para usar rutas URL.
		      
		      * Con el #{} es para usar helpers.
	-->
	
	<h2 th:text="${titulo}"></h2>
	
	<!--NOTA: El form tiene que tener un target, es decir, una ruta URL
	          a la cual vamos a enviar el formulario.
	         
	          Entonces para agregar el target se especifica con la etiqueta
	          action que es propia del formulario la cual en el controlador
	          indicamos que era la ruta /form y adicionalmente también le
	          indicamos el método ya que por defecto es get.
	-->
	<form th:action="@{/form}" th:object="${usuario}" method="post">
		
		<!--
		<div>
			<label for="pais">Pais</label>
			<div>
				-->
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<!--
				<select type="text" id="pais" th:field="*{pais}">
					<option value="">-- Seleccionar --</option>
					<option th:each="pais: ${paises}" th:text="${pais}" th:value="${pais}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>
		-->
		
		<!--
		<div>
			<label for="pais">Pais MAP</label>
			<div>
				-->
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<!--
				<select type="text" id="pais" th:field="*{pais}">
					<option value="">-- Seleccionar --</option>
					<option th:each="pais: ${paisesMap.entrySet}" th:text="${pais.value}" th:value="${pais.key}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>
		-->
		
		<div>
			<!--
					NOTA: Como usamos el property editor entonces modificamos acá. Ya que con el property editor
					      estamos guardando esta vez el objeto completo con todos sus atributos
			<label for="pais.id">Lista Paises Objeto</label>
			-->
			<label for="pais">Lista Paises Objeto</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<!--
					NOTA: Como usamos el property editor entonces modificamos acá. Ya que con el property editor
					      estamos guardando esta vez el objeto completo con todos sus atributos
				
					<select type="text" id="pais.id" th:field="*{pais.id}">
				-->
				<select type="text" id="pais" th:field="*{pais}">
					<option value="">-- Seleccionar --</option>
					<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
				</select>
			</div>
			<!--
					NOTA: Como usamos el property editor entonces modificamos acá. Ya que con el property editor
					      estamos guardando esta vez el objeto completo con todos sus atributos
					      
					      <div th:if="${#fields.hasErrors('pais.id')}" th:errors="*{pais.id}"></div>
			-->
			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>
		
		<div>
			<label>Roles</label>
			<div th:each="role: ${listaRolesString}">
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="checkbox" th:field="*{roles}" th:value="${role}">
				<!-- NOTA: El helper ids nos permie obtener el id que se genera autimáticamente para cada check 
				           y básicamente con él obtenemos el último id generado en la iteración.
				-->
				<label th:for="${#ids.prev('roles')}" th:text="${role}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
		</div>
		
		<div>
			<label>Roles MAP</label>
			<div th:each="role: ${listaRolesMap.entrySet()}">
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="checkbox" th:field="*{roles}" th:value="${role.key}">
				<!-- NOTA: El helper ids nos permie obtener el id que se genera autimáticamente para cada check 
				           y básicamente con él obtenemos el último id generado en la iteración.
				-->
				<label th:for="${#ids.prev('roles')}" th:text="${role.value}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
		</div>
		
		<div>
			<label for="nombre">Nombre</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="text" id="nombre" th:field="*{nombre}">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>
		
		<div>
			<label for="idRegex">Identificador con Regex</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
					      
					      Adicionalmente es el que vamos a validar usando expresiones regulares
				-->
				<input type="text" id="idRegex" th:field="*{idRegex}">
			</div>
			<div th:if="${#fields.hasErrors('idRegex')}" th:errors="*{idRegex}"></div>
		</div>
		
		<div>
			<label for="apellido">Apellido</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="text" id="apellido" th:field="*{apellido}">
			</div>
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
		</div>
		
		<div>
			<label for="username">Username</label>
			<div>
				<!--
					NOTA: Refactora para optimizar más la implementación del formulario para el cual comentamos y cambiamos los input
					      para usar una etiqueta propia de thymelaf y spring. Por lo tanto para indicar que es un atirbuto usamos el *
					
					Anteriormente:
				    NOTA: Para que mantenga el valor cuando enviamos el formulario y este no es válido usamos el th:value=""
					<input type="text" name="username" id="username" th:value="${usuario.username}">
				-->
				<input type="text" id="username" th:field="*{username}">
			</div>
			<!--
				NOTA: Refactor para usar la implementación propia de thymeleaf y spring para el manejo de errores y para el cual a parte del refactor
			          del lado del controlador acá también hacemos el refactor para cambiar el div e indicar con el #fields.hasErrors con el nombre del
			          campo para validar si tienen errores ya que al indicar el # nos sirve para usar un objeto helper.
			          Adicionalmente también cambiamos el th:text por el th:errors e indicamos el campo con el *
			          
			          Anteriormente:
			          NOTA: Hacemos la validación del map errores para validar la llave y mostramos el mensaje de error con el th:text si la validación no se cumple
					  
					  <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
			-->
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		
		<div>
			<label for="pwd">Password</label>
			<div>
				<!--
					NOTA: Refactora para optimizar más la implementación del formulario para el cual comentamos y cambiamos los input
					      para usar una etiqueta propia de thymelaf y spring. Por lo tanto para indicar que es un atirbuto usamos el *
					      
					      Anteriormente:
					      <input type="password" name="pwd" id="pwd">
				-->
				<input type="password" th:field="*{pwd}" id="pwd">
			</div>
			<!--
				NOTA: Refactor para usar la implementación propia de thymeleaf y spring para el manejo de errores y para el cual a parte del refactor
			          del lado del controlador acá también hacemos el refactor para cambiar el div e indicar con el #fields.hasErrors con el nombre del
			          campo para validar si tienen errores ya que al indicar el # nos sirve para usar un objeto helper.
			          Adicionalmente también cambiamos el th:text por el th:errors e indicamos el campo con el *
			    
			         Anteriormente:
			    	 NOTA: Hacemos la validación del map errores para validar la llave y mostramos el mensaje de error con el th:text si la validación no se cumple
			         
			         <div th:if="${error != null && error.containsKey('pwd')}" th:text="${error.pwd}"></div>
			-->
			<div th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></div>
		</div>
		
		<div>
			<label for="email">Email</label>
			<div>
				<!--
					NOTA: Refactora para optimizar más la implementación del formulario para el cual comentamos y cambiamos los input
					      para usar una etiqueta propia de thymelaf y spring. Por lo tanto para indicar que es un atirbuto usamos el *
					  
					      Anteriormente:       
					      NOTA: Para que mantenga el valor cuando enviamos el formulario y este no es válido usamos el th:value=""

					      <input type="text" name="email" id="email" th:value="${usuario.email}">
				-->
				<input type="text" th:field="*{email}" id="email">
			</div>
			<!--
				NOTA: Refactor para usar la implementación propia de thymeleaf y spring para el manejo de errores y para el cual a parte del refactor
			          del lado del controlador acá también hacemos el refactor para cambiar el div e indicar con el #fields.hasErrors con el nombre del
			          campo para validar si tienen errores ya que al indicar el # nos sirve para usar un objeto helper.
			          Adicionalmente también cambiamos el th:text por el th:errors e indicamos el campo con el *
				
					  Anteriormente:
			          NOTA: Hacemos la validación del map errores para validar la llave y mostramos el mensaje de error con el th:text si la validación no se cumple
			          
			          <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
			-->
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		
		<div>
			<label for="cuenta">Cuenta</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="number" id="cuenta" th:field="*{cuenta}">
			</div>
			<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
		</div>
		
		<div>
			<label for="fechaNacimiento">Fecha Nacimiento</label>
			<div>
				<!--
					NOTA: Campo nuevo usando los refactors y optimizaciones ya por defecto y que se le realizaron a los campos username, email
					      y password. Para más información de dichos refactor ver las notas indicadas más abajo para cada campo.
				-->
				<input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd">
			</div>
			<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
		</div>
		
		<div>
			<div>
				<input type="submit" value="Enviar">
			</div>
		</div>
		
	</form>

</body>
</html>